/* General Calculator Styles */
.calculator {
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.calculator.dark-mode {
  background-color: #222;
  color: white;
  border-color: #333;
}

.calculator.scientific-mode {
  width: 500px;
}

/* Input Field */
.input {
  width: 100%;
  height: 50px;
  font-size: 20px;
  text-align: right;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  
}

.dark-mode .input{
  background-color: #444;
  border: none;
}

/* Buttons Layout */
.buttons,
.scientific-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.scientific-buttons {
  margin-top: 20px;
}

.button{
  height: 50px;
  font-size: 18px;
  color: white;
  border: none;
  background-color: grey;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.operator-button {
  height: 50px;
  font-size: 18px;
  border: none;
  background-color: orange;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  transition: background-color 0.3s;
}

.scientific-button{
  height: 50px;
  font-size: 18px;
  border: none;
  background-color: green;
  border-radius: 5px;
  color: white;
  cursor: pointer;
 }



/* Clear Buttons */
.clear-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.clear-button,
.ac-button {
  width: 48%;
  height: 50px;
  font-size: 18px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
}

.clear-button:hover,
.ac-button:hover {
  background-color: #c82333;
}

/* Toggle Buttons */
.header button {
  margin: 5px;
  padding: 10px 15px;
  font-size: 14px;
  border: none;
  background-color: orange;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 17px;
}

.dark-mode .header button {
  background-color: #444;
  color: white;
  /* border-color: #555; */
}


.dark-mode .button {
  background-color: #444;
  color: white;
  /* border-color: #555; */
}

/* .header button:hover {
  background-color: #0056b3;
} */
